/* #ef7c43; #4b6d31 ; #efa743 ; #efd243; #f6e591 ; #962f2f ; #d18901; #f9f7f0 ; #fcf8e0*/

html {
    scroll-behavior: smooth;
    background-color: #f9f7f0;
    font-family: 'Montserrat', sans-serif;
    color: #8d360d;
}


header {
    background-image: 
        linear-gradient(rgba(74, 73, 54, 0.24), rgba(74, 73, 54, 0.24)),
        url('Images/cheesebkgrd6.jpg'); 
    background-size: cover;
    background-position: center;
    height: 110vh;
    background-attachment: fixed;
}

.wrapper{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    position: relative;
    left: -20px
}
#main-nav {
/*    text-align: center;*/
    display: block;
    margin: 0;
}
.left {
    position: absolute;
    float: left;
    top:30px;
    left: 8%;
}
.right {
    position: absolute;
    float: right;
    top: 30px;
    right: 8%;
}

#nav-bar ul {
    text-align: center;
    list-style: none;
}

#main-nav li {
    display: inline-block;
    margin: 0 30px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #d45d00;
    box-shadow: 2px 0 10px 0 gray; 
}

a {
    text-decoration: none;
    color: #fcf8e0;

}

#main-nav li a:hover,
#main-nav li a:active { 
    color: #efd243;
}

#header-img {
    border-radius: 50%;
    opacity: 1;
    height: 120px;
    width: 120px;
    position: absolute;
    left: 47%;
    margin-top: 20px;
}


.row {
    max-width: 1140px;
    margin: 0 auto; 
}

section {
    display: block;
    padding: 5% 0;
}


h2 {
    font-size: 500;
    color: #de9100;
}

.box {
    padding-right: 20px;
}

.3box {
    justify-content: center;
}
p{
line-height: 1.5;
}

ion-icon {
  font-size: 64px;
}

#Reviews {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(Images/pplchz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-attachment: fixed;
}


blockquote {
    font-weight:lighter;
    color: #f9f7f0;
    line-height: 1.5;
}

#About {
    padding: 60px 0;
}

#Featured h2 {
    padding-bottom: 30px;
    
}

.short-para  {
    margin: 50px 50px 0 50px;
}

#email {
    width: 300px;
    height: 40px;
    font-size: 120%;
    padding: 10px;
}
.btn {
    color: #f9f7f0;
    background-color: #d45d00;
    border: 0;
    border-radius: 300px;
    height: 60px;
    width: 140px;
    font-size: 120%;
    margin-left: 20px;
}

#video {
    margin-left: 50px;
}